* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
font-family: sans-serif;
}

.first {
    /* padding: 0 10px; */
    padding-right: 100px;
    background-color: blueviolet;
    padding-left: 100px;
    color: white;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}


.second{
background-color: rgb(255, 255, 255);
padding:50px;


}

.styles-inner input:focus{
  border: 1px solid rgb(232, 70, 232);
  box-shadow: 1px 1px 10px rgba(128, 0, 128, 0.353);
}
.styles-inner textarea:focus{
  border: 1px solid rgb(232, 70, 232);
  box-shadow: 1px 1px 10px rgba(128, 0, 128, 0.353);
}